html{
	height:100%;
}


p {
	font-family:Trebuchet MS;
    font-size: 50px;
	color: red;
	text-align: left;
}
body{
	background-image: url("https://i.pinimg.com/originals/4b/ef/6b/4bef6b4e2b420874a982bcbb0da5d4a7.jpg");
	    background-position:center center;
	    background-size:cover:
}
		
