body {
 background-image: url("https://vignette3.wikia.nocookie.net/starwars/images/3/34/Endor_Imperial_Platform_ST.png/revision/latest?cb=20130308052927");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
  }
