body {
  background-image: url("https://vignette.wikia.nocookie.net/starwars/images/b/b0/Bright_tree.jpg/revision/latest?cb=20120113223335");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
